/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
/**
 * Convert PX to REMs.
 */
.percent-to-goal div.progress-bar div {
  width: 0;
  height: 12px;
  margin: 1px;
  background: #EF5F3C;
}

.percent-to-goal .animate-progress {
  width: 75% !important;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.percent-to-goal div.progress-bar div:after {
  width: 75%;
  content: "75% to goal!";
}

@font-face {
  font-family: 'andobold';
  src: url("../fonts/ando_bold-webfont.eot");
  src: url("../fonts/ando_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ando_bold-webfont.woff2") format("woff2"), url("../fonts/ando_bold-webfont.woff") format("woff"), url("../fonts/ando_bold-webfont.ttf") format("truetype"), url("../fonts/ando_bold-webfont.svg#andobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'andoregular';
  src: url("../fonts/ando-webfont.eot");
  src: url("../fonts/ando-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ando-webfont.woff2") format("woff2"), url("../fonts/ando-webfont.woff") format("woff"), url("../fonts/ando-webfont.ttf") format("truetype"), url("../fonts/ando-webfont.svg#andoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'andolight';
  src: url("../fonts/andolight-webfont.eot");
  src: url("../fonts/andolight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/andolight-webfont.woff2") format("woff2"), url("../fonts/andolight-webfont.woff") format("woff"), url("../fonts/andolight-webfont.ttf") format("truetype"), url("../fonts/andolight-webfont.svg#andolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'andosemibold';
  src: url("../fonts/andosemibold-webfont.eot");
  src: url("../fonts/andosemibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/andosemibold-webfont.woff2") format("woff2"), url("../fonts/andosemibold-webfont.woff") format("woff"), url("../fonts/andosemibold-webfont.ttf") format("truetype"), url("../fonts/andosemibold-webfont.svg#andosemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'andothin';
  src: url("../fonts/andothin-webfont.eot");
  src: url("../fonts/andothin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/andothin-webfont.woff2") format("woff2"), url("../fonts/andothin-webfont.woff") format("woff"), url("../fonts/andothin-webfont.ttf") format("truetype"), url("../fonts/andothin-webfont.svg#andothin") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * Convert PX to REMs.
 */
html {
  font-size: 16px;
  overflow-x: hidden;
}

form:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 7.5px 0 7.5px;
  border-color: #424242 transparent transparent transparent;
}

body {
  font-family: lato, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  color: black;
  padding: 30px;
}

input {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

.col-50 {
  display: inline-block;
  width: 46.5%;
  margin-right: 4%;
}

div.last {
  float: right;
  margin-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

:focus {
  outline: 0;
}

a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

p {
  font-family: lato, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.875rem;
  color: black;
}

strong {
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.form-template {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 480px;
  min-width: 300px;
}

.form-template .action-item {
  width: 100%;
  padding: 10px 20px;
  font-size: 0.75em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: none;
}

.form-template button.generic-btn {
  font-size: 0.8333rem;
  background: #FAFAFA;
  color: #808080;
  border: 1px solid #DEDEDE;
  box-shadow: -1px 3px 4px -2px #E8E8E8;
  white-space: nowrap;
  transition: 0.85s;
  font-weight: bolder;
}

.form-template button.generic-btn:hover {
  background: #e1e1e1;
}

.form-template .progress-bar {
  width: 100%;
  height: 14px;
  background: #FAFAFA;
  -webkit-box-shadow: inset 0px 0px 0px 1px #DDDDDD;
  -moz-box-shadow: inset 0px 0px 0px 1px #DDDDDD;
  box-shadow: inset 0px 0px 0px 1px #DDDDDD;
  overflow: hidden;
}

.form-template .progress-bar figcaption {
  position: relative;
  padding: 3% 0;
  text-align: center;
  color: #FFF;
  background: #333;
  font-size: 0.85em;
  font-weight: lighter;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.form-template .progress-bar div {
  display: block;
  float: left;
  height: 12px;
}

.form-template .tooltip {
  margin-bottom: 10px;
  padding: 10px;
  color: #DDDDDD;
  background: #424242;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 0.65em;
  font-weight: lighter;
  transition: 0.85s;
}

@media (min-width: 414px) {
  .form-template .tooltip {
    font-size: 0.85em;
  }
}

.form-template .tooltip strong {
  color: #FFF;
}

.form-template figure figcaption::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 47px;
  right: 11%;
  border-style: solid;
  border-width: 9px 7px 0 7px;
  border-color: #424242 transparent transparent transparent;
}

.form-template .progress-bar div::after {
  display: block;
  position: absolute;
  font-family: Helvetica, Arial, sans-serif;
  color: #808080;
  font-size: 0.5rem;
  line-height: 1.25;
  margin-top: 2px;
  right: 0;
  text-align: right;
  padding-right: 8%;
}

.form-template .form-content {
  padding: 4% 6%;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  margin-bottom: 15px;
  box-shadow: -1px 3px 4px -2px #E8E8E8;
}

.form-template .form-content p {
  color: #808080;
  font-size: 0.60em;
  line-height: 19px;
  transition: 0.85s;
}

@media (min-width: 414px) {
  .form-template .form-content p {
    font-size: 0.85em;
    margin-bottom: 30px;
  }
}

.form-template .form-content p:first-child strong {
  color: #EF5F3C;
}

.form-template .form-content em small {
  display: block;
  color: #27A4D5;
  font-size: 0.65em;
}

.form-template .form-content input.value-input {
  padding-left: 20px;
  padding-right: 0;
  background: #FFF;
  transition: 0.85s;
  border: 1px solid #dadada;
  font-weight: bolder;
}

.form-template .form-content input.value-input:focus {
  background: #424242;
  color: #FFF;
}

.form-template .form-content button.cta {
  margin-right: 0;
  background: #1CBC2C;
  color: #FFF;
  text-transform: capitalize;
  transition: 0.85s;
}

.form-template .form-content button.cta:hover {
  background: #159022;
}

.form-template .input-currency:before {
  position: absolute;
  content: "$";
  color: #808080;
  margin-top: 5px;
  margin-left: 6px;
  font-size: 0.85em;
  font-weight: bolder;
}

.css3 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.css3.intro,
.css3.ani-btn {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes intro {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes intro {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.intro {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: intro;
  animation-name: intro;
}
